<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="RowLimitN" value="150"/>
		<add key="CsvFilePath" value="Floating PV Altamonte FL Data.csv"/>
		<add key="PlantId" value="altamonte_fl"/>
	</appSettings>
	
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="PvTcpBinding"
						 maxReceivedMessageSize="67108864"
						 transferMode="Streamed"
						 sendTimeout="00:05:00"
						 receiveTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		
		<client>
			<endpoint name="PvDataService"
					  address="net.tcp://localhost:4000/Service"
					  binding="netTcpBinding"
					  bindingConfiguration="PvTcpBinding"
					  contract="Common.IPvDataService"/>
		</client>
	</system.serviceModel>
</configuration>