<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="OverTempThreshold"       value="60.0"/>
		<add key="VoltageImbalancePct"     value="5.0"/>
		<add key="PowerFlatlineWindow"     value="10"/>
		<add key="AcCur1SpikeThreshold"   value="5.0"/>
		<add key="DcVoltMin"              value="200.0"/>
		<add key="DcVoltMax"              value="800.0"/>
		<add key="PlantId"                value="altamonte_fl"/>
	</appSettings>
	
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="PvTcpBinding"
						 maxReceivedMessageSize="67108864"
						 transferMode="Streamed"
						 sendTimeout="00:05:00"
						 receiveTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		
		<services>
			<service name="Server.PvDataService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000"/>
					</baseAddresses>
				</host>
				<!-- Service endpoint -->
				<endpoint address="Service"
						  binding="netTcpBinding"
						  bindingConfiguration="PvTcpBinding"
						  contract="Common.IPvDataService"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="PvServiceBehavior">
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="10"
									   maxConcurrentSessions="10"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>